*.class
*.log
*.iml
*.ipr
*.iws
.idea
.idea/
out
.cache/
.history/
.lib/
dist/*
target/
bin/
libexec/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
logs/
modelFiles/*
data/*
project/*-shim.sbt
project/project/
project/target/
target/
.scala_dependencies
.worksheet
project/target/streams/$global/update/$global/streams/out